
/*page wrapper */
.wrapper{
    max-width: 90%;
    margin: 0 auto;
    padding: 2% 5%;
}

/*main tag styling */
main{
    height: auto;
    
}

/*title stling */
p {
    font-family: 'Space Mono', monospace;
  }
  h1 {
    font-family: 'Space Mono', monospace, bold;
    font-weight: 700;
    text-align: center;

}

nav {
    margin: 1rem 0;
  }
  
  nav a {
    color: #5aa7c8;          /* light blue */
    text-decoration: underline;
    margin-right: 14px;
    font-family: "Space Mono", monospace;
  }
  
  nav a:hover {
    text-decoration: none;
  }
  
/*photo styling*/

.boat{
    width: 20%;
    height: 10%;
    margin-left: 30px;
}

.bangka {
    width: 20%;
    height: 10%;
}

.bingsu {
    width: 20%;
    height: 10%;
}
.bike{
    width: 20%;
    height: 10%;
}
.brownstone{
    width: 20%;
    height: 10%;
}
.blossom {
    width: 22%;
    height: 20%;
}
.duck{
    width: 20%;
    height: 10%;
}

.train{
    width: 22%;
    height: 10%;
}

.photolib{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;  
    padding: 40px;
    justify-content: center;
    

}


/*footer styling to bring it to the bottom of the page*/
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top:9%;
    text-align: center;
  }
  